<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empresas | Empresas </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          th:href="@{/webjars/font-awesome/5.1.0/css/all.css}"
          crossorigin="anonymous">
</head>
<body style=" background-color: #b99064;">

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header p-3 mb-2 text-white" style="background-color: #f69e3f;">
                    <h1 class="panel-title">Empresas</h1>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Marca</th>
                            <th>Empresa</th>
                            <th colspan="3">Opciones</th>
                        </tr>
                        </thead>
                        <tr th:remove="all">
                            <td>123</td>
                            <td>Tasty Goodnees 1</td>
                            <td><a href="#">View</a></td>
                        </tr>
                        <tr th:remove="all">
                            <td>12333</td>
                            <td>Tasty Goodnees 2</td>
                            <td><a href="#">View</a></td>
                        </tr>
                        <tr th:each="empresa : ${empresas}"
                            th:onclick="'javascript:openListProductos('+${empresa.id}+');'">
                            <td th:text="${empresa.id}">334</td>
                            <td th:text="${empresa.marca}">Tasty Goodnees 3</td>
                            <td th:text="${empresa.nombre}">334</td>
                            <td>
                                <a href="#"><i class="far fa-eye"></i> Ver Detalle</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>


   <div id="modalProductosHolder"></div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"
        th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js" crossorigin="anonymous"
        th:src="@{/webjars/popper.js/1.14.3/umd/popper.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>

<script>

    function openListProductos(id) {
        $.ajax({
            url: '/empresas/' + id + '/productos',
            success: function (data) {
                $("#modalProductosHolder").html(data);
                $("#modalProductos").modal("show");
            }
        });
    }

</script>

</body>
</html>