<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empresas | Marca </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          th:href="@{/webjars/font-awesome/5.1.0/css/all.css}"
          crossorigin="anonymous">
</head>
<body style=" background-color: #193366;">

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header p-3 mb-2 text-white" style="background-color: #008ae6;">
                    <h1 class="panel-title">Dashboard de marcas</h1>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Marca</th>
                            <th colspan="3">Opciones</th>
                        </tr>
                        </thead>
                        <tr th:remove="all">
                            <td>123</td>
                            <td>Tasty Goodnees 1</td>
                            <td><a href="#">View</a></td>
                        </tr>
                        <tr th:remove="all">
                            <td>12333</td>
                            <td>Tasty Goodnees 2</td>
                            <td><a href="#">View</a></td>
                        </tr>
                        <tr th:each="marca : ${marcas}">
                            <td th:text="${marca.id}">334</td>
                            <td th:text="${marca.nombre}">Tasty Goodnees 3</td>
                            <td><a href="#" th:href="@{'/empresas/' + ${marca.id}}"><i
                                    class="far fa-eye"></i> Ver Detalle</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"
        th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js" crossorigin="anonymous"
        th:src="@{/webjars/popper.js/1.14.3/umd/popper.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>

</body>
</html>